@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono&display=swap");

body,
* {
  font-family: "Roboto Mono", monospace;
  color: #333;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;

  > footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
  }

  > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

    > h1 {
      font-size: 28px;
      color: #e04e39;
      font-family: "Lobster", cursive;
    }

    > form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      max-width: 400px;
      width: 100%;

      > input,
      textarea {
        background-color: #f9f9f9;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        height: 40px;
        padding: 5px 10px;
        width: 100%;
        margin: 5px;
      }
    }

    > ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      list-style-type: none;
      width: 100%;
      padding: 0;

      > .task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex: 1;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        max-width: 400px;
        width: 100%;
        margin-bottom: 15px;

        > p {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
}

button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 200, 200, 1);
  border: 1px solid rgba(0, 150, 150, 1);
  color: white;
  border-radius: 4px;
  margin: 5px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 12px;
  min-width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgba(0, 150, 150, 1);
    border-color: rgba(0, 100, 100, 1);
  }

  &.-cancel,
  &.-delete {
    background-color: rgba(200, 50, 100, 1);
    border-color: rgba(150, 25, 50, 1);

    &:hover {
      background-color: rgba(150, 25, 50, 1);
      border-color: rgba(100, 10, 25, 1);
    }
  }
}
