{{!-- <LinkTo @route="task" @model="1" class="task"> --}}
<li class="task">
	<p>{{ @text }}</p>
	<LinkTo class="button -edit" @route="tasks.edit" @model={{@id}} title="Edit">...</LinkTo>
	<button class="button -delete" {{on "click" (fn @delete @id)}} title="Delete">x</button>
</li>
{{!-- </LinkTo> --}}