<main>
	<h1>Edit Task</h1>
	<form {{on "submit" (fn this.update)}}>
		<input value={{this.task.text}} name="text" />
		<button type="submit" title="Update">&#10003;</button>
		<LinkTo class="-cancel" @route="tasks" title="Cancel">x</LinkTo>
	</form>
</main>