<main>
	<h1 class="title">Ember Todo</h1>
	<form {{on "submit" this.create}}>
		<input type="text" name="task" placeholder="New Todo...">
		<button type="submit" title="Submit">+</button>
	</form>
	<ul>
		{{#each this.tasks as |task|}}
		<Task @id={{task.id}} @text={{task.text}} @delete={{this.delete}} />
		{{/each}}
	</ul>
</main>