{{outlet}}
<footer>
	<a href="https://gitlab.com/mikeysax/ember-todo" target="_blank" rel="noopener noreferrer">View Code</a>
	<a class="-cancel" href="https://mikeysax.com" target="_blank" rel="noopener noreferrer">Personal Site</a>
</footer>